body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-container h1 {
    color: #660066;
    margin-bottom: 20px;
}

.register-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
    text-align: left;
    padding-left: 10px;
}

.register-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.register-container button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #660066;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.register-container button:hover {
    background-color: #550055;
}

.register-container .error-message {
    color: red;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px;
}

.register-container .back-to-home {
    margin-top: 15px;
    text-align: center;
}

.register-container .back-to-home a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    color: #660066;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.register-container .back-to-home a:hover {
    background-color: #ccc;
}
