body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.review-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007BFF; /* xanh dương chính */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3; /* xanh dương đậm hơn khi hover */
}

.review-container h2 {
    color: #007BFF; /* tiêu đề xanh dương */
    margin: 60px 0 20px 0;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 0 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.form-group input[type="file"] {
    border: none;
}

.form-group small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #888;
}

.submit-button {
    background-color: #007BFF; /* xanh dương chính */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.submit-button:hover {
    background-color: #0056b3; /* xanh dương đậm hơn khi hover */
}

.help-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.help-tooltip {
    display: block;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-right: 10px;
    border: 2px solid red;
}

.help-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.help-icon i {
    font-size: 16px;
    color: #007BFF; /* icon màu xanh dương */
}
